# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
[Oo]ut/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Docker
docker-compose.override.yml

# Logs
*.log

# OS
.DS_Store
Thumbs.db